body {
    padding: 0% 10%;
    abackground: -webkit-linear-gradient(top,#110488e7,#0d1c2bcb,#c4b7af);
    background: -webkit-linear-gradient(top,#071524de,#110488e7, #b3a49b);

}

/* Container */

#container {
    background: -webkit-radial-gradient(center, ellipse cover, #ffffffc7 37%,#f2ece8b7 100%);
    abackground: -webkit-radial-gradient(center, ellipse cover, #ffffff 37%,#f2ece8 100%);  
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4em;
}
/* Title-Section */

#title {
    background-color:rgba(128, 128, 128, 0.514);
    text-align: center;
}
header {
    padding-bottom: 2%;
}
em {
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: inline-block;
    width: 60%;
    margin-top: 3%;
}

.logo-ufcg {
    margin-top: 3%;
    width: 12%;
    float: left;
    margin-left: 5%;

}
.logo-pibid {
    margin-top: 3%;
    width: 20%;
    float: right;

}
.h1-title {
    afont-family: "Source Sans Pro", Arial, sans-serif;
    font-family: 'Times New Roman', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1em;
}
.h5-title {
    font-family: 'Times New Roman', sans-serif;
    font-size: 2rem;
    font-weight: normal;


}

.bar {
    background: -webkit-radial-gradient(center, ellipse cover, #ebe7e73b 37%,#eee6e023 100%);
}
.nav-item:hover   {
    background-color: rgb(173, 160, 160);
    border-radius: 10%;
}

/* Container */

.content-container {
    padding: 2%;
    width: 100%;
    margin: 2% 0%;
}
.row {
    padding-left: 12px;
    
}

/* Home-Content */
.home-content {
    border: 1px solid rgb(193, 193, 207);
    background-color: #fff;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
}

.home-content h4{
    font-weight: 400;
    line-height: 1.4em;
}

/* Side-Content */

.side-bar {
    aborder: 1px solid red;
}

.aside-item-list {
    color: black;
    text-decoration: none;
}
.list-group-item:hover {
    cursor: pointer;
    background-color:rgba(128, 128, 128, 0.514);
    
}

/* Footer */

#footer {
    background-color: #333;
    border-top: 3px solid rgba(6, 6, 182, 0.884);
    color: white;
    text-align: left;
}

.feature-title {
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
}
.btn {
    background-color: white;
}
